.payment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.detail-payment {
    display: flex;
    flex-direction: column;
}
.detail-payment h1 {
    color: #222;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.moyens-payments {
    display: flex;
    align-items: center;
    gap: 20px;
    border: #222 solid 1px;
    width: 606px;
height: 49px;
flex-shrink: 0;
padding-left: 10px;
}
.moyens-payments h1 {
color: #222;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.details-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detail-payment h2 {
    color: #222;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.numero-card, .nom-complet {
    width: 611px;
height: 44px;
flex-shrink: 0;
border: #c4c4c4 solid 1px;
display: flex;
padding-left: 20px;
align-items: center;
color: #222;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.demi-bordure {
    display: flex;
    gap: 22.5px;

}
.demi-bordure .date, .demi-bordure .pin{
    width: 294px;
height: 44px;
flex-shrink: 0;
border: #c4c4c4 solid 1px;
display: flex;
align-items: center;
padding-left: 20px;
color: #222;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.conf-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;

}

.go-back {
    display: flex;
    gap: 25px;
}

.go-back p {
    color: #231F20;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
a {
    text-decoration: none;
}
.pay {
    width: 258px;
height: 45px;
flex-shrink: 0;
border: solid 1px #E2342D;
background: #E2342D;
display: flex;
justify-content: center;
align-items: center;
color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}