.navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 11px;
    margin-left: 101px;
}
.navigation a {
    text-decoration: none;
    color: #222;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;

}
.detail-product {
    display: flex;
    justify-content: center;
    align-items: center;

}
.image-miniatures {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}
.grande-image {
    width: 514px;
height: 514px;
flex-shrink: 0;
background: #f3f3f3;
display: flex;
align-items: center;
justify-content: center;
margin-left: 30px;
margin-bottom: 60px;
}
.add-to-cart {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
}
.line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -100px;
}

.add-to-cart h1 {
    color: #231F20;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.add-to-cart .price p {
    color: #E2342D;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -25px;
}
.colors {
    display: flex;
    align-items: center;
    gap: 15px;
}
.add-to-cart .black {
    width: 76px;
height: 40px;
flex-shrink: 0;
border: 1px solid #70707080;
display: flex;
align-items: center;
justify-content: center;
color: #222;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.add {
    width: 500px;
height: 45px;
flex-shrink: 0;
border: 1px solid  #004197;;
background:  #004197;
display: flex;
align-items: center;
justify-content: center;
color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-top: 30px;
}
.add-to-cart p {
    width: 500px;
    height: 17px;
    flex-shrink: 0;
    color: #222;
text-align: justify;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
margin-top: 30px;
margin-bottom: 50px;
}
.description {
    width: 499.5px;
height: 44.5px;
flex-shrink: 0;
stroke-width: 0.5px;
stroke: #231F20;
border: #231F20 solid 1px;
display: flex;
align-items: center;
justify-content:space-around;
margin-top: 20px;
}
.description h1 {
    color: #231F20;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.products h2{
    color: #231F20;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 130px;
}